.container {
top: 0px;
left: 0px;
width: 90vw; 
height: 90vh; 
margin: 0 auto; 
position: relative; 
/* background: transparent url('images/BKGND-01.jpg') 0% 0% no-repeat padding-box; */
/* background: transparent url('images/BKGND-01.jpg') contain;  */
opacity: 1;

}



.container img {
    color: transparent; 
    background-size: cover;
    width: 100%; 
    height: auto; 
    
}



#left-side-image img {
    color: transparent; 
    background-size: cover;
    width: 100%; 
    height: auto; 
}





/* shorthand */
/* background: black url(../images/eiffel.jpg) center top no-repeat;
    background-size: cover; */






