.container {
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

#background-img {
  max-width: 100%;
  max-height: 100%;
}

#winners-text {
  position: absolute;
  color: white;
  top: -4px;
  left: 29px;
}

.left-side-btns {
  width: 150px;
}

.btn-div {
  position: absolute;
}

/* #lrg-btn-container {
    position: absolute;
    top: 176px;
    left: 184px;

} */

#lrg-btn-1 {
  top: 176px;
  left: 184px;
}

#lrg-btn-2 {
  top: 230px;
  left: 163px;
}
#lrg-btn-3 {
  bottom: 195px;
  left: 141px;
}

#lrg-btn-4 {
  bottom: 141px;
  left: 120px;
}

/* #right-side-ring {
    width: 37%;
    height: 300px;
    top: 78px;
    right: 86px;
    border: solid red 1px;
    background-color: red; 
    float: right;
    position: absolute;
  } */

.right-side-assets {
  position: absolute;
}

#ring {
  width: 27%;
  top: 116px;
  right: 141px;
  opacity: 0.9;
  z-index: 9;
}

#pie-company-culture {
  width: 15%;
  top: 55px;
  right: 189px;
}

#pie-digital-forefront {
  bottom: 131px;
  width: 15%;
  right: 190px;
}

#pie-talent-focused {
  width: 18%;
  top: 68px;
  right: 94px;
  z-index: 9;
}

#pie-insight-driven {
  width: 18%;
  top: 165px;
  right: 90px;
  z-index: 9;
}

#pie-innovative {
  width: 18%;
  bottom: 146px;
  right: 96px;
  z-index:9; 
}

#pie-diff-brand {
  width: 18%;
  top: 237px;
  right: 260px;
  z-index: 9;
}

#pie-operation {
  width: 18%;
  top: 167px;
  right: 265px;
  z-index: 9;
}

#pie-strategic-partner {
  width: 18%;
  top: 72px;
  right: 257px;
  z-index: 9;
}

#text-balls {
  width: 17%;
  top: 156px;
  right: 183px;
  z-index: 9;
}

#ball-person {
    width: 7%;
    top: 196px;
    right: 224px;
    z-index: 9;
}

