.container {
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    position: relative; 
}

.container img {
    max-width: 100%; 
    max-height: 100%; 
   
}

#winners-text {
    position: absolute;
    color: white;
    top: -4px;
    left: 29px;
}

.left-side-btns {
    width: 150px; 
}

.btn-div {
    position: absolute; 
}

/* #lrg-btn-container {
    position: absolute;
    top: 176px;
    left: 184px;

} */

#lrg-btn-1 {
    top: 176px;
    left: 184px;
 } 

#lrg-btn-2 {
    top: 230px;
    left: 163px;
}
 #lrg-btn-3 {
    bottom: 195px;
    left: 141px;
 }

 #lrg-btn-4 {
    bottom: 141px;
    left: 120px;
  } 