* {
  box-sizing: border-box;
}

.container {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#background-img {
  width: 100%;
  height: 100%;
}

#winners-text {
  position: absolute;
  color: white;
  top: -4px;
  left: 204px;
  font: normal normal normal 100px/100px Helvetica Neue;
  letter-spacing: 0px;
  color: #f9f7d1;
  opacity: 1;
  font-size: 87px;
}

.left-side-btns {
  width: 400px;
  padding: 10px;
}

.btn-div {
  position: absolute;
}

#left-btn-container {
  position: absolute;
  height: 600px;
  width: 450px;
  top: 638px;
  display: flex;
  flex-direction: column;
  left: 580px;
}

#left-btn-container .image {
  padding: 20px;
}

#right-section {
  position: relative;
}

#right-side-ring {
  width: 1112px;
  height: 1113px;
  top: 156px;
  right: 195px;
  float: right;
  position: absolute;
}

#ring {
  width: 60%;
  top: 202px;
  right: 281px;
  opacity: 0.9;
  z-index: 9;
  position: absolute;
}

#pie-company-culture {
  width: 31%;
  top: 28px;
  right: 439px;
  position: absolute;
}

#pie-digital-forefront {
  bottom: 77px;
  width: 31%;
  right: 437px;
  position: absolute;
}

#pie-talent-focused {
  width: 38%;
  top: 76px;
  right: 149px;
  z-index: 9;
  position: absolute;
}

#pie-insight-driven {
  width: 38%;
  top: 368px;
  right: 111px;
  z-index: 9;
  position: absolute;
}

#pie-innovative {
  width: 38%;
  bottom: 109px;
  right: 143px;
  z-index: 9;
  position: absolute;
}

#pie-diff-brand {
  width: 38%;
  bottom: 115px;
  right: 650px;
  z-index: 9;
  position: absolute;
}

#pie-operation {
  width: 38%;
  top: 368px;
  right: 681px;
  z-index: 9;
  position: absolute;
}

#pie-strategic-partner {
  width: 38%;
  top: 78px;
  right: 647px;
  z-index: 9;
  position: absolute;
}

#text-balls {
  width: 35%;
  top: 340px;
  right: 418px;
  z-index: 9;
  position: absolute;
}

#ball-person {
  width: 14%;
  top: 460px;
  right: 539px;
  z-index: 9;
  position: absolute;
}

.right-side-pop-up {
  width: 1004px;
  height: 968px;
  top: 269px;
  right: -1344px;
  float: right;
  position: absolute;
}

#WOT-pic-01 {
  position: absolute;
  right: -128px;
  top: 66px;
  z-index: 9;
}

#copy-box {
  width: 1010px;
  position: absolute;
  bottom: -107px;
  left: -350px;
}

.sml-btn-container {
  top: 640px;
  height: 84px;
  width: 143px;
  position: absolute;
  right: 3px;
  background: transparent;
  background-color: rgb(4, 4, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 2px;
}

.arrow-icons {
  width: 45%;
}
